@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
.container {
  width: 450px;
  margin: 100px auto;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
#form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d1d5db;
}
#form input:focus {
  outline: none;
  border: 2px solid var(--primaryColor);
}
#form label {
  font-size: 16px;
  font-weight: 500;
}
